body {
    font-family: Helvetica, sans-serif;
    background-image: url(../img/back.jpg);
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px 20px;
    justify-content: right;
    align-items: left;
    min-height: 100vh;
}

#first_box{
    width: 50%;
    height: 80%;
    display: block;
}
.preferences{
    /* width: 40%; */
    height: 58vh;
    text-align: right;
    border: 2px solid white;
    background-color: rgba(128, 128, 128, 0.76);
    border-radius: 17px;
    margin-right: 10px;
    padding-right: 60px;
    padding-top: 10px;
    
}

.music_player{
    width: 80%;
    height: 100%;
    margin-top: 15px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 14px;
}
.container {
    height: 65vh;
    padding: 10px;
    /* background-color: white; */
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


h1 {
    height: 60px;
    font-size: 50px;
    font-weight: 540;
    margin-top: 10px;
    color: #fffcfc;
    background-color: #3f6d4f94;
    border-radius: 10px;
    text-align: center;
}

h2{
    padding: 5px 5px 5px 10px;
    
}

.container_heading{
    /* width: 40rem;  */
    height: 40px;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 0px;
    background-color: #eeff5696;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.filter label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

label{
    font-size: 1.1rem;
    font-weight: 550;
}
select, input[type="range"], input[type="number"] {
    width: 49%;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}


button {
    width: 90px;
    margin-top: 15px;
    padding: 5px 5px;
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    font-size: medium;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #cdd0d3;
    box-shadow: 10px 10px 10px gray;
    transition-duration: .4s;
}
input[type="number"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
#playlist {
    margin-top: 20px;
    text-align: left;
}

